body{
	float: left;
	font-family: Roboto, Verdana, Arial, Helvetica;
	font-size: 18px;
}

h1{
	text-decoration: underline;
}

p#astrix{
	color: red;
	font-size: 12px;
}

/*styling rows class*/
.row{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*form styles*/
input[type=text], select, [type=tel]{
	font-family: Roboto, Verdana, Arial, Helvetica;
	font-size: 16px;
}

[type=reset], [type=submit]{
	font-family: Roboto, Verdana, Arial, Helvetica;
	font-size: 16px;
	border-radius: 4px;
	margin: 8px 0;
	height: 40px;
	width: 80px;
}
[type=reset]:hover, [type=submit]:hover{
	background-color: #cacbd4;
}

input[type=text]:focus, [type=tel]:focus, textarea:focus, select:focus{
	background-color: #cacbd4;
}

/*style error*/
.error{
	color: #f4c2c2;
}